.item {
  padding: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background-color: transparent;
  transition: background-color transform 0.05s ease-in-out;
  transform: scale(0.95);
}

.item.selected {
  transform: scale(1);
  background-color: rgba(0, 0, 0, 0.1);
}

.item.pressed {
  background-color: rgba(0, 0, 0, 0.2);
}
